<!doctype html>
<html lang="en">
    <head>
        {% include "head.njk" %} {% include "json-ld.njk" %}
    </head>
    <body>
        <a class="skip-link" href="#main">Skip to content</a>
        {% include "nav.njk" %}
        <main id="main" class="site-main">{{ content | safe }}</main>
        {% include "footer.njk" %}
    </body>
</html>
