---
layout: base.njk
---

<article class="page">
    {% if image %}
    <img class="page-image" src="{{ image }}" alt="{{ imageAlt }}" />
    {% endif %}
    <div class="prose">{{ content | safe }}</div>
</article>
