{% if collections.recents %}
<div id="recents" class="ml-1 mt-2 p-2 text-gray-800 dark:text-gray-400 mb-2">
    <span class="ml-1 block text-sm font-semibold">Recent updates</span>
    <div class="text-xs pt-2 pr-4">
        <nav class="sidebar-links" aria-label="Recent updates">
            <ul>
                {% for recent in collections.recents %}
                <li>
                    <a class="truncate" href="{{ recent.url }}">
                        {{ recent.data.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
{% endif %}
