---
eleventyExcludeFromCollections: true
permalink: /algolia.json
---
[
{%- for post in collections.all -%}
	{
		"title": {{post.data.title | dump | safe }},
		"date":"{{ page.date }}",
		"url":"{{ post.url }}",
		"content":{{ post.templateContent | algExcerpt | dump | safe }}
	}{%- if not loop.last -%},{%- endif -%}
{%- endfor -%}
]