---
layout: base.njk
title: Work
image: /assets/images/work/presenting.png
imageAlt: Julián Duque presenting at TDX23
---

{% from "entry.njk" import section %}

<article class="page">
    <header class="page-header">
        <h1 class="display">Work</h1>
        <p class="page-lede">
            Content I've created professionally as a Developer Advocate.
        </p>
    </header>
    <img class="page-image" src="{{ image }}" alt="{{ imageAlt }}" />

    <section class="group" aria-labelledby="salesforce">
        <h2 class="title group-title" id="salesforce">Salesforce / Heroku</h2>
        <div class="index">
            {{ section("salesforce-blog-posts", "Blog Posts", "Blog posts and
            technical articles written at Salesforce and Heroku.",
            workPosts.salesforce, "work", true) }} {{
            section("salesforce-videos", "Videos", "Videos and technical
            presentations created at Salesforce and Heroku.", workVideos,
            "work") }} {{ section("salesforce-podcasts", "Podcasts", "Podcast
            episodes where I've been a guest or host at Salesforce and Heroku.",
            workPodcasts, "work") }}
        </div>
    </section>

    <section class="group" aria-labelledby="nodesource">
        <h2 class="title group-title" id="nodesource">NodeSource</h2>
        <div class="index">
            {{ section("nodesource-blog-posts", "Blog Posts", "Blog posts
            written during my time at NodeSource.", workPosts.nodesource,
            "work") }}
        </div>
    </section>
</article>
